header {
    padding: 40px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    font-size: 20px;
    padding: 12px 32px;
    background-color: #A6ADFF;
    border-radius: 8px;
    transition: background-color, color;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.header__link:focus-visible {
    border: 2px solid #4f58be;
}

.header__link:hover {
    color: #fff;
    background-color: #2a18ff;
}

@media (max-width: 1140px) {
    .header {
        padding: 32px 0 40px;
    }
}

@media (max-width: 940px) {
    .header {
        padding: 24px 0 30px;
    }

    .header__link {
        padding: 10px 16px;
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .header {
        padding: 24px 0 20px;
    }

    .header__link {
        display: none;
    }
}