.vacancy {
    padding: 16px;
    border-radius: 16px;
    background-color: #fff;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.vacancy:hover {
    background-color: #f9faff;
}

.vacancy:focus-visible {
    outline: 3px solid #a6adff;
}

.vacancy__img {
    max-height: 44px;
    margin-bottom: 12px;
    display: block;
}

.vacancy__company {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}

.vacancy__title {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
    background-color: #eaecff;
    padding: 3px 5px;
}

.vacancy__field {
    font-size: 14px;
    color: #ccc;
}

@media (max-width: 940px) {

}
